In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [21]:
df = pd.read_csv('iris.csv')
df.head()

   sepal.length  sepal.width  petal.length  petal.width species
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [3]:
df = df.sample(frac =1)  
df.head()

     sepal.length  sepal.width  petal.length  petal.width     species
102           7.1          3.0           5.9          2.1   Virginica
147           6.5          3.0           5.2          2.0   Virginica
91            6.1          3.0           4.6          1.4  Versicolor
55            5.7          2.8           4.5          1.3  Versicolor
71            6.1          2.8           4.0          1.3  Versicolor

In [4]:
x = df.iloc[:, 0:4].values
y = df.iloc[:, 4].values

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size = 0.25)

In [9]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(criterion = 'entropy', n_estimators = 10, max_depth=15)
clf.fit(xtrain, ytrain)

RandomForestClassifier(criterion='entropy', max_depth=15, n_estimators=10)

In [10]:
y_pred = clf.predict(xtest)

In [11]:
from sklearn.metrics import accuracy_score, confusion_matrix
cm = confusion_matrix(y_pred, ytest)
cm

array([[ 9,  0,  0],
       [ 0, 10,  0],
       [ 0,  2, 17]], dtype=int64)

In [13]:
accuracy_score(y_pred, ytest)

0.9473684210526315